body {
    color: white;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    "header header"
    "menu content"
    "footer footer";
    grid-template-columns: 1fr 3fr;
    gap: 5px;
    padding: 5px;
}

.header {
    background-color: #D99A26;
    grid-area: header;
}

.menu {
    background-color: rgb(175, 174, 174);
    grid-area: menu;
}

.content {
    background-color: blueviolet;
    grid-area: content;
}

.footer {
    background-color: pink;
    grid-area: footer;
}

.list li a {
    text-decoration: none;    
}

.list li {
    list-style: none;
}